


*{
    margin:0;
    padding:0;
    font-family: "Sofia", sans-serif;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: rgba(191, 241, 144, 0.7);
    color: white;
}
#header {
    width: 100%;
    height: 100vh;
    background-image: url(galerija/pirtisss.png);
    background-size: cover;
    background-position: center;
    
}
#header p{
    font-family: "Sofia", sans-serif;
    color: white;
    font-weight: 900;
}
.container {
padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.logo {
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}
nav ul li a{
    color: rgb(17, 1, 1);
    text-decoration: none;
    font-size: 18px ;
    position: relative;
    font-family: Audiowide;
    

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin: 20px;
}
.header-text h1 span {
    color:#ff004f
}

/*------------about---------*/

#about {
    padding: 80px 0;
    color: #800606;
}
.row{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35% ;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis:60%;
}
.sub-title{
    font-size: 60px;
    font-weight:600;
    color: #fff;
}
.tab-titles{
    display:flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0 ;
}
.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*-----------services-----------*/

#services{
    padding:30px 0px;
}
.services-list{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr))  ;
    grid-gap: 40px;
    margin: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.a1{
    color: brown;
}
.a2{
    color: green;
}
.a3{
    color: blue;
}


.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div.spalva:hover{
    background: rgb(161, 70, 70);
    transform: translateY(-10px);
}
.services-list div.spalva2:hover{
    background: rgb(108, 219, 108);
    transform: translateY(-10px);
}
.services-list div.spalva3:hover{
    background: rgb(122, 122, 243);
    transform: translateY(-10px);
}

/*--------------------portfolio---------*/

.gallery{
    
    justify-content: center;
    display: none;
}
.gallery img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.galerija:target{
    display: flex;
}



#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr))  ;
    grid-gap: 40px;
    margin: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display:block;
    transition: transform 0.5s;
}
.fot{
    width: 250px;
    height: 220px;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(108, 219, 108));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer button{
    margin-top: 20px;
    color: rgb(108, 219, 108);
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
transform:scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display:block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid green;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: rgb(108, 219, 108);
}

/*-------------kainorastis---------*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    
    background-color: #dddddd;
  }
td{
    color: rgb(65, 2, 2);
    font-weight: 800;
}

/*---------contact------------*/
.sa{
    color: rgb(17, 1, 1);
   
    font-size: 20px ;
    
    font-family: Audiowide;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 0%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color:#ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: tranform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2 {
display: inline-block;
background: #ff004f;
}
.contact-right form{
    width: 100;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}
.darbai123:hover{
    color: white;
}
/*--------CSS for small screen---------*/
nav .fas{
    display: none;
}
@media only screen and (max-width: 1165px){
    nav{
        display: flex;
        align-items: right;
        justify-content: space-between;
        flex-wrap: wrap;
       margin-top: 20px;
      font-size: 14px;
    }
    .logo {
        mix-blend-mode: multiply;
        width: 220px;
        height: 220px;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 5px;
    }
    nav ul li a{
        color: rgb(121, 7, 7);
        text-decoration: none;
        font-size: 18px ;
        font-weight: 750;
        position: relative;
    }
    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #ff004f;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    nav ul li a:hover::after{
        width: 100%;
    }
    .header-text{
        margin-top: -50px;
        font-size: 30px;
    }
    .header-text h1{
        font-size: 60px;
        margin: 20px;
    }
    .header-text h1 span {
        color:#ff004f
    }
    .header-text {
       margin-top: 50px;
        top: 100%; /* Nustato .header-text viršūnę virš .header apačios */
        left: 0; /* Nustato .header-text kairę kraštą prasidėjimą nuo ekrano kairės pusės */
        width: 100%; /* Užtikrina, kad .header-text užimtų visą prieinamą plotį */
        transform: translateY(10px); /* Galite pridėti norimą vertikalaus postūmio dydį */
    }
}
@media only screen and (max-width: 860px){
    nav{
        display: flex;
        align-items: right;
        justify-content: space-between;
        flex-wrap: wrap;
       margin-top: 20px;
      font-size: 10px;
    }
}
@media only screen and (max-width: 600px){
#header{
    background-image: url(galerija/pirtiss.jpg);
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .header-content {
        /* Užtikrina, kad turinys nekistų, kai keičiama foninė nuotrauka */
        margin-bottom: 50px;
    }
  
 
    #header {
        position: relative; /* Suteikia referencinę poziciją .header-text elementui */
    }
    
    .header-text {
        position: absolute;
        top: 10%; /* Nustato .header-text viršūnę virš .header apačios */
        left: 0; /* Nustato .header-text kairę kraštą prasidėjimą nuo ekrano kairės pusės */
        width: 100%; /* Užtikrina, kad .header-text užimtų visą prieinamą plotį */
        transform: translateY(10px); /* Galite pridėti norimą vertikalaus postūmio dydį */
       
    }
    .header-text{
       
        font-size: 16px;
        color: black;
    }
    .header-text h1{
        font-size: 30px     ;
        
    }
    #header p{
        font-family: "Sofia", sans-serif;
        color: black;
        font-weight: 900;
    }
    .header-text p{
      
       margin-left: 20px;
    }
    .about-col-1 {
     margin-top: 165px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
        z-index: 10;
        color: white;

    }
    nav ul {
        background: #8bf8e6;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 100000;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
        z-index: 100000;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        z-index: 100000;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
        
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
        width: 100%;
    }
}
#msg{
    color: #0b0e0a;
    margin-top: -30px;
    display: block;
    font-size: 20px;
    font-weight: 500;
}
@media only screen and (max-width: 400px){
    #services{
        padding:30px 0px;
        margin-left: -40px;
    }
   
    
    #portfolio{
    margin-left: -30px;
   }
}
@media only screen and (max-width: 300px){

.copyright{
    width: 300px;
}
}
